// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
}



h1 { font-size: 6.4em; line-height: 1.25; letter-spacing:-1.78px }
h2 { font-size: 4.8em; line-height: 1.25; letter-spacing:1px; }
.the-content h2{letter-spacing:6.75px}
h3 { font-size: 3.6em; line-height: 1.3; letter-spacing:-1px; }
h4 { font-size: 1.6em; line-height: 1.25; letter-spacing:.06px; }
h5 { font-size: 1.4em; line-height: 1.25; letter-spacing:1.97px;}
h6 { font-size: 1.4rem; line-height: 1.25; letter-spacing:1.97px;}

h5{
  //color:$dark_gray;
  font-weight:300;
} 

h1, h2, h3, h4, h6{
  @include source-bold;
}

 @media($bp-smaller-than-tablet) {
    h1 { font-size: 4.0em; }
    h2 { font-size: 2.4em; }
    h3 { font-size: 2rem; }
//    h4 { font-size: 3.0rem; }
//   h5 { font-size: 2.4rem; }
//   h6 { font-size: 1.5rem; }
 }

p {
  font-size: 1.4em;  
  line-height: 1.428; 
  margin-top: 0;
  margin-bottom: 1.8rem;
}
