footer{
	background-color:$black;
	color:$white;
	padding:2em 0;

	.footer-navigation{
		ul{
			padding-top:2em;
			li{
				display:inline-block;
				list-style-type:none;
				margin-right:2em;
				@media($bp-smaller-than-tablet){
					display:block;
				}
				a{
					font-size:1.4em;
					font-weight:700;
					color:$white;
					&:active,
					&:focus,
					&:hover{
						color:$light-gray;
					}
				}
			}
		}
		
	}

	.social-nav{
		ul{
			margin:0;
			padding:0;
			padding-top:2em;
			li{
				display:inline-block;
				list-style-type:none;
				margin-right:5em;
				a{
					font-size:3.5em;
					//font-weight:700;
					color:$white;
					i{
						//font-size:10em;
					}
	
					&:active,
					&:focus,
					&:hover{
						//color:$light-gray;
						opacity:.6;
					}
				}
			}
		//}
		}
	}

	p{
		margin:0;
		padding:0;
		font-weight:700;
	}

	.contact{
		a{
			color:$white;
			&:active,
			&:focus,
			&:hover{
				//color:$light_gray;
				opacity:.6;
				text-decoration:none;
			}
		}
	}

	p.signature{
		a{
			color:$white;
			&:active,
			&:focus,
			&:hover{
				//color:$light_gray;
				opacity:.6;
				text-decoration:none;
			}
		}
	}
	
	.times{
		color:$light_gray;
	}

	.subscription{
		 color:$champagne;
		 font-size:2em;
		 padding:2em 0;
		 @media($bp-smaller-than-tablet){
		 	padding:1em 0 0 0;
		 }
				a{
					color:$champagne;
		 			//font-size:2em;
					padding-right:15px;
					background-image:url('img/Theaterworks_Icons_Arrow-Bronze-right_full.png');
					background-position:right center;
					background-size:8px;
					background-repeat:no-repeat;
					
					&:hover,
					&:active,
					&:focus{
						opacity:.6;
						text-decoration:none;
					}


				}
	}

	.footer-logo{
		img{
			width:250px;
		}
	}
}