header{
	padding:2em 1em;
	.logo{
		text-align:center;
		&:hover,
		&:active,
		&:focus{
			opacity:.6;
		}
		img{
			width:50px;
			height:auto;
		}
	}

	.gateway-nav{

		ul{
			padding:0;
			margin:0;
			li{
				list-style-type:none;
				display:inline-block;
				margin-left:2em;

				a{
					&:active,
					&:focus,
					&:hover{
						opacity:.6;
					}
				}
			}
		}
		a{
			color:$white;
			&:active,
			&:focus,
			&:hover{
				color:$light_gray;
			}
		}
	}

	&.site-header{
		position:absolute;
		width:100%;
		top:0;
		z-index:5;
	}
	
	.sidr-trigger{
		color:$white;
		cursor:pointer;
		&:hover,
		&:active,
		&:focus{
			//color:$tw_gold;
			opacity:.6;
		}
	}

	.gateway-nav{
		text-align:right;
		img{
			width:30px;
		}
	}

	.sidr-trigger,
	.logo,
	.gateway-nav{
		display:inline-block;
		vertical-align:top;
		width:32.33333%;
	}
	.ticket-cal{
		//width:30px;
		//margin:2em 0;
			color:$white;
		display:inline-block;
			&:active,
			&:focus,
			&:hover{
				//color:$light_gray;
				opacity:.6;
			}
		i{
			
		}
	}
}